<% content_for :header do %>
  <section class="hero is-warning">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Sell an Instrument
        </h1>
      </div>
    </div>
  </section>
<% end %>

<div class="pv4">
  <%= render 'form', instrument: @instrument %>
</div>
